.products {
  margin: 20px;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
.products__single{
  height: 150px;
  padding: 20px;
  background-color: rgb(220, 220, 220);
  text-align: center;
  cursor: pointer;
  color: black;
}
.products__single > img{
  width: 100%;
  height: 95%;
  object-fit: cover;
  margin-bottom: 1px;
}

.pagination{
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 15px 0;
}
.pagination > span{
  padding: 15px 20px;
  border: 1px solid white;
  cursor: pointer;
}
.disable{
  display: none;
}
.color{
  background: white;
  color: black;
}